# my-tweak.cnf
# MySQL/MariaDB Tweak Configuration Files

[mysqld]

#
#  * settings changed by docker-entrypoint.sh
#

innodb-buffer-pool-size         =         # changes to 80% of your available RAM

#
# * Basic Settings
#
# WSREP necessary settings
log-bin                         = ON
binlog-format                   = ROW
query-cache-size                = 0          # Set to 0 to avoid global QC Mutex
query_cache_type                = 0
skip-host-cache
skip-name-resolve
skip-external-locking
# bind-address                  = 0.0.0.0							# Allow connection from slave and/or host, if exposed

default-time-zone               = '+07:00'							# Live in Jakarta, so yeah.
character-set-client-handshake  = false								# Force encoding to uft8
character-set-server            = utf8mb4
collation-server                = utf8mb4_unicode_ci
init-connect                    = 'SET NAMES utf8mb4'

#tuning
interactive_timeout             = 11300
wait_timeout                    = 11300
max_connections                 = 505                               # Values < 1000 are typically good
max_user_connections            = 500                               # Limit one specific user/application
thread_cache_size               = 505                               # Up to max_connections makes sense

### Following variables recommended at http://www.fromdual.com/mysql-configuration-file-sample
# Session variables
#sort_buffer_size               = 2M                                # Could be too big for many small sorts
#tmp_table_size                 = 32M                               # Make sure your temporary results do NOT contain BLOB/TEXT attributes
#read_buffer_size               = 128k                              # Resist to change this parameter if you do not know what you are doing
#read_rnd_buffer_size           = 256k                              # Resist to change this parameter if you do not know what you are doing
#join_buffer_size               = 128k                              # Resist to change this parameter if you do not know what you are doing


# Other buffers and caches
#table_definition_cache         = 1400                              # As big as many tables you have
#table_open_cache               = 2000                              # connections x tables/connection (~2)
#table_open_cache_instances     = 16                                # New default in 5.7

# Error logging goes to syslog due to /etc/mysql/conf.d/mysqld_safe_syslog.cnf.
# send logs to /dev/stderr for docker logs
log-error                       = /dev/stderr
log_warnings                    = 2
wsrep_log_conflicts             = 1
#
# Enable the slow query log to see queries with especially long duration
#slow_query_log[={0|1}]
slow_query_log                  = 0
slow_query_log_file             = /var/log/mysql/mariadb-slow.log
long_query_time                 = 1
log_queries_not_using_indexes   = 0
min_examined_row_limit          = 100

# Binary logging and Replication

# log_bin                        = &lt;hostname&gt;_binlog                     # Locate outside of datadir
# master_verify_checksum         = ON                                  # MySQL 5.6
binlog_cache_size              = 1M
binlog_stmt_cache_size         = 1M
max_binlog_size                = 128M                                 # Set to 1 or higher to reduce potential loss of binary-log data
expire_logs_days               = 10                                    # For Master/Master set-ups use 1 and 2


# Innodb settings
default-storage-engine          = InnoDB
innodb-autoinc-lock-mode        = 2         # Durability is achieved by committing to the Group
innodb-flush-log-at-trx-commit  = 2
innodb_buffer_pool_instances    = 10
innodb-flush-method             = O_DIRECT
innodb_use_native_aio           = 1
innodb_use_mtflush              = 0
innodb_mtflush_threads          = 0
innodb_file_per_table           = 1
innodb_doublewrite              = 1
innodb_use_fallocate            = 1
innodb_use_atomic_writes        = 0
innodb_use_trim                 = 0
innodb_thread_concurrency       = 32
innodb_write_io_threads         = 32
innodb_read_io_threads          = 32
innodb_file_format              = barracuda
innodb_lru_scan_depth           = 2000
innodb_io_capacity              = 30000
innodb_io_capacity_max          = 35000
innodb-large-prefix             = ON
innodb_strict_mode              = ON
innodb_prefix_index_cluster_optimization = ON

# xtrabackup Configuration
[sst]
compressor                      = "gzip"
decompressor                    = "gzip -dc"
# no encryption as weave is using encryption between nodes
encrypt                         =   0

[mysql_safe]
default-character-set           = utf8mb4
log-error                       =/dev/stderr
log_warnings                    = 3
pid-file                        = /var/run/mysqld/mysqld.pid
socket                          = /var/run/mysqld/mysqld.sock
nice                            = 0

[client]
#port                            = 3306
#socket                          = /var/run/mysqld/mysqld.sock
default-character-set           = utf8mb4

[mysql]
default-character-set           = utf8mb4
no-auto-rehash      # faster start of mysql but no tab completion

[mysqldump]
quick
quote-names
max_allowed_packet              = 16M

[isamchk]
key_buffer                      = 16M
